/*.Services {*/
    /*width: 100%;*/
/*}*/

.parallax {
    position: relative;
    height: 100vh;
    overflow: hidden;
    text-align: start;
    /*perspective: 1px;*/
    /*height: 100vh;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
}
.parallax > img {
    position: absolute;
    width: 100%;
}

.Services.parallax img {
    margin-top: -55vw;
}

.Services-overlayed{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(255, 255, 255, .5);
    /*background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(256, 256, 256, 1));*/
    /*background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); !* firefox *!*/
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0))); !* webkit *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFFFF', endColorstr='#00FFFFFF',GradientType=0 ); !* ie *!*/
}